//variables

$wrapper: 1600px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;

// $orange: #ec3a24;
$orange: #f4442e;
$yellow: #f2f3ae;
$darkPurple: #060526;
$purple: #6c63ff;
$midPurple: #75749e;
$lightPurple: #edecff;
$offWhite: #fbbab2;
$grey: #818190;

$fontSerif: 'IBM Plex Serif', serif;
$fontSans: 'IBM Plex Sans', sans-serif;
$fontExtra: 'Lusitana', serif;

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  @media screen and (min-width: $breakpoint-md) {
    font-size: 11px;
  }
  // @media screen and (min-width: $breakpoint-lg) {
  //   font-size: 12px;
  // }
}
body {
  margin: 0;
  font-family: $fontSerif;
  background: #eee;
}
.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
}
//typography
p {
  font-family: $fontSans;
  font-size: 1.8rem;
  line-height: 1.5;
  color: $darkPurple;
}
.section__heading {
  font-size: 3rem;
  margin-top: 0;
  font-weight: 600;
  color: $darkPurple;
  font-family: $fontSerif;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.section__subHeading {
  font-size: 1.9rem;
  color: $grey;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: $fontSans;
}
.section__desc {
}
.section__img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
//navbar
.globalNav {
  max-width: $wrapper;
  background: $orange;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  // margin: 0 auto;
  // justify-content: space-between;
  // align-items: center;
  // position: absolute;
  // z-index: 1;
  // top: 0;
  // left: 0;
  // right: 0;
}
.globalNav ul {
  align-items: flex-end;
}
.globalNav ul > li {
  display: inline-flex;
  padding: 0 20px;
  &:last-child {
    padding-right: 0;
  }
}
.globalNav ul > li > a {
  color: #fff;
  font-family: $fontSerif;
  font-size: 16px;
  letter-spacing: 0.2px;
  &:hover {
    text-decoration: underline;
  }
  &.active {
    color: #fff;
    text-decoration: underline;
  }
}
.globalNav__brand {
  font-family: $fontSans;
  color: #fff;
  font-size: 21px;
  img {
    width: 10rem;
  }
}
//drawer
.drawerNav {
  position: fixed;
  width: 90%;
  z-index: 1000;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  right: 150%;
  box-shadow: 0 -3px 80px rgba(0, 0, 0, 0.4);
  ul {
    padding: 0;
  }
  ul > li {
    padding: 2em 0;
    text-align: center;
  }
  ul > li > a {
    font-size: 1.8rem;
    color: $orange;
  }
}
.drawerNav--isVisible {
  right: 0;
}
.drawer__header {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}
//buttons
.button {
  border: 2px solid;
  font-size: 16px;
  padding: 1.3rem 2.2rem;
  font-family: $fontSerif;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}
.iconButton {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  border: 2px solid transparent;
  background: transparent;
}
.button--primary {
  border-color: $orange;
  color: $orange;
  &:hover {
    background-color: $orange;
    color: #fff;
  }
}
.button--secondary {
  border-color: #fff;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: $orange;
  }
}
.button--section {
  margin-top: 2rem;
}
//sections
.section {
  text-align: center;
  font-size: 10px;
  background: #fff;
  // padding: 80px 0;
  padding: 4rem 0;
  position: relative;
  @media screen and (min-width: ($breakpoint-sm - 1 )) {
    text-align: left;
  }
}
.section--with-divider {
  // padding: 100px 0;
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 8px;
    z-index: 1;
    background: linear-gradient(
      90deg,
      $darkPurple 0%,
      $darkPurple 60%,
      $yellow 60%,
      $yellow 85%,
      $purple 85%
    );
  }
}
.grid--50-50 {
  display: grid;
  grid-template-columns: 100%;
  background-color: $orange;
  @media screen and (min-width: $breakpoint-sm) {
    grid-template-columns: 50% 50%;
  }
  @media screen and (min-width: $breakpoint-md) {
    min-height: 50rem;
  }
}
.grid__image {
  background-image: url('../images/help_hero_tshirt.png');
  background-size: cover;
  background-position: center;
  min-height: 30rem;
}
.grid__content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  p,
  .section__subHeading,
  .section__heading {
    color: #fff;
  }
  align-items: center;
}
.section__helpHero {
  background: #fff;
  // padding-top: 4rem;
  @media screen and (min-width: $breakpoint-md) {
    padding-top: 0;
  }
}
//how it works
.howItWorks {
  display: none;
  // display: grid;
  // grid-template-columns: auto auto auto;
  // grid-column-gap: 50px;
  // margin-top: 40px;
}
.howItWorks__sectionTitle {
  font-size: 18px;
  font-weight: 300;
  font-family: $fontSerif;
  color: $darkPurple;
  margin-top: 0;
  margin-bottom: 0;
}
.howItWorks__section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  img {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
.howItWorks__section:after {
  content: '';
  color: #fff;
  font-family: $fontSerif;
  font-weight: 700;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: $orange;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  display: none;
}
.howItWorks__step1:after {
  content: '1';
}
.howItWorks__step2:after {
  content: '2';
}
.howItWorks__step3:after {
  content: '3';
}
//masthead
.masthead {
  font-size: 1rem;
  background: linear-gradient(rgba($orange, 1), rgba($orange, 1)),
    url('../images/img_01.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 4rem;
  padding-top: 3em;
  @media screen and (min-width: $breakpoint-sm) {
    font-size: 11px;
  }
}
.masthead p {
  color: $offWhite;
  font-size: 1.8em;
}
.masthead__tagline {
  // font-size: 58px;
  font-size: 4em;
  color: #fff;
  line-height: 1.5;
  font-weight: 600;
  margin-top: 0;
}
//footer
.footer {
  text-align: center;
  background: $darkPurple;
  color: #fff;
  @media screen and (min-width: $breakpoint-sm) {
    text-align: left;
  }
  ul {
    margin: 3em 0;
  }
  ul li {
    padding: 1em 0;
  }
  ul li a {
    font-size: 1.6rem;
    color: rgba(#fff, 0.8);
  }
  address {
    font-size: 1.4em;
    color: rgba(#fff, 0.6);
    font-family: $fontSans;
    font-style: normal;
    line-height: 1.5;
    margin-top: 2rem;
  }
  span {
    display: block;
  }
}
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 0;
  img {
    opacity: 0.6;
    width: 30px;
    margin: 0 1.3rem;
  }
}
//divider
.divider {
  // margin-top: 10px;
  display: grid;
  grid-template-columns: 60% 25% 15%;
  // grid-column-gap: 5px;
  height: 0.7em;
}
.divider__section {
  &:nth-child(1) {
    background: $orange;
  }
  &:nth-child(2) {
    background: $yellow;
  }
  &:nth-child(3) {
    background: $purple;
  }
}

.video-placeholder {
  width: 100%;
  height: 20rem;
  margin: 1rem 0;
  background-color: #eee;
  @media screen and (min-width: $breakpoint-md) {
    height: 25rem;
  }
}

.visible--desktop {
  @media screen and (max-width: ($breakpoint-md - 1)) {
    display: none;
  }
}

.visible--tablet {
  @media screen and (min-width: ($breakpoint-md - 1)) {
    display: none;
  }
}

.visible--mobile {
  @media screen and (min-width: $breakpoint-sm) {
    display: none;
  }
}
