//variables
$orange: #f4442e;
$darkPurple: #060526;
$lightPurple: #edecff;
$grey: #91919a;

$fontSerif: 'IBM Plex Serif', serif;
$fontSans: 'IBM Plex Sans', sans-serif;
$fontExtra: 'Lusitana', serif;

html {
  background-color: $orange;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
//navbar
.globalNav {
  background: $orange;
  padding: 20px 0;
}
.globalNav ul {
  align-items: flex-end;
}
.globalNav ul > li {
  display: inline-flex;
  padding: 0 20px;
}
.globalNav ul > li > a {
  color: #fff;
  font-family: $fontSerif;
  font-size: 16px;
  &:hover {
    text-decoration: underline;
  }
  &.active {
    color: #fff;
    text-decoration: underline;
  }
}
.globalNav__brand {
  font-family: $fontSerif;
  color: #fff;
  font-size: 21px;
}
//buttons
.button {
  border: 2px solid;
  font-size: 16px;
  padding: 10px 16px;
  font-family: $fontSerif;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}
.button--primary {
  border-color: $orange;
  color: $orange;
  &:hover {
    background-color: $orange;
    color: #fff;
  }
}
.button--secondary {
  border-color: #fff;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: $orange;
  }
}
